<!doctype html>

<html>

<head>
  <title>Apartment CoPilot</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="icon" href="images/favicon.ico" type="image/gif" sizes="16x16">
  <link rel="stylesheet" href="../css/properties.css">

  <link rel="import" href="../elements/aptcopilot-header.html">

  </script>

  <script src="../scripts/map.js"></script>
  <script src="../scripts/mapmarker.js"></script>
  <script src="../scripts/properties.js"></script>
  <script src="../scripts/index.js"></script>

  <style>
    #map {
      border: 1px solid #018ED0;
      margin-right: 10px;
    }
  </style>


</head>

<body>

  <aptcopilot-header data-active="properties"></aptcopilot-header>

  <div>
    <h2>Property Map</h2>

    <div>
      <input id="properties-search-input" type="search" onkeyup="Properties.searchProperties(this)" placeholder="Search for a property...">
      <div class="properties-search-results"></div>
    </div>

  </div>


  <div id="containerdiv">
    <div id="containerelm">
      <button class="containbtn" type="button" onclick="Properties.loadAllProperties()">Show All Properties</button>
      <button class="containbtn" type="button" onclick="Properties.loadMarketRateProperties()">Show Market Rate Properties</button>
      <button class="containbtn" type="button" onclick="Properties.loadAffordableProperties()">Show Affordable Properties</button>
    </div>

    <!-- Map DIV START -->

    <div class="properties-content">
      <div id="map" class="frontmap"></div>
      <div class="properties-side-list"></div>
    </div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwZt-Shm5g3q8oCNYX6vQ97jo81FIrij4&callback=Main.init"></script>


    <script src="../scripts/querymap.js"></script>
    <script src="../node_modules/fuzzy/lib/fuzzy.js"></script>

</body>

</html>